*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dis{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.numbers{
    position: relative;
    left: 20px;
    bottom: -70px;
    left:-90px;
    padding: 5px;
    
}

.display{
    width:100px;
}